body {
  font-family: 'Questrial', sans-serif;
}

.recipe-card{
  border:solid 1px red;
  width:100%;
  height:40vh;
  display: block;
  background-color: whitesmoke;
}

.recipe-card h3{
  font-size:12px;
}

.float-middle {
  padding-top: 25vh;
}

.container {
  margin-top: 3%;
}

.plan-container {
  margin: 3% 5%;
}

.plan-header {
  font-size: 2.92rem;
  font-weight: 400;
}

#clear-float {
  margin-bottom: 1rem;
  clear: both;
}

.plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  justify-items: stretch;
  min-height: calc(80vh - 64px - 22px)
}

.plan-column {
  width:auto;
  height: auto;
  display: flex;
  border: solid 1px black;
  flex-direction: column;
  padding: 5px
}

.space-around {
  margin: 1.5rem;
}

.brand-navbar {
  height: 64px;
}

#landing-about {
  margin-top: 2rem;
  color: white;
}

.landing-button {
  margin-top: 2em;
  margin-right: 0.5em;
}

.clickable-icon {
  cursor: pointer;
  /* border: solid black 1px; */
}

.delete-container{
  display: inline-block;
  position: absolute;
  right: 0;
}

.delete {
 font-size:20px;
 border: none;
}

.container-arrow-left-right{
display:flex;
justify-content:space-between;
}

.container-arrow-up-down{
  display: flex;
  flex-direction: column;
 align-items: flex-end;
}

.inactive-icon {
  color: grey
}

@media only screen and (min-width: 1050px) {
  .container .shoppinglist{
      width: 50%;
      margin: 0 auto;
  }
}