.recipe-card{
  border:solid 1px red;
  width:100%;
  height:20vh;
  display: block;
  background-color: whitesmoke;
}

.recipe-card h3{
  font-size:12px;
}

.float-middle {
  padding-top: 25vh;
}

.plan-container {
  margin: 5% 5%;
}

.plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  justify-items: stretch;
  min-height: calc(80vh - 64px - 22px)
}

.plan-column {
  width:auto;
  height: auto;
  display: flex;
  border: solid 1px black;
  flex-direction: column;
  padding: 5px
}

.space-around {
  margin: 1.5rem;
}

.clickable-icon {
  cursor: pointer
}

@media only screen and (min-width: 1050px) {
  .container .shoppinglist{
      width: 50%;
      margin: 0 auto;
  }
}